[Unit]
Description=LinkedIn Daily Engagement Timer (Morning & Evening)
Requires=linkedin-daily-engagement.service

[Timer]
OnCalendar=*-*-* 09:00:00
OnCalendar=*-*-* 21:00:00
Persistent=true

[Install]
WantedBy=timers.target
