[Unit]
Description=LinkedIn Daily Engagement Timer
Requires=linkedin-daily-engagement.service

[Timer]
OnCalendar=*-*-* 09:00:00
Persistent=true

[Install]
WantedBy=timers.target
